

@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Neuton');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html{
  font-size: 10px;
  font-family: 'Spectral SC', serif;
}

body{
  padding-top: 5rem;
  background: RGBA(40, 40, 40, 1.00);
}

/*==============================
          NAV BAR
===============================*/

.top-nav{
  background: RGBA(40, 40, 40, 1.00);
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  font-family: 'Neuton', bold;
  order: 0;
}

.top-nav ul{
  display: flex;
  justify-content: space-between;
}

.top-nav li{
list-style-type: none;
}

.top-nav li a{
  display: block;
  color: RGBA(255, 255, 255, 1.00);
  text-align:center;
  text-decoration: none;
}

.top-nav li a:hover{
  background-color: RGBA(255, 192, 203, 1.00);
  color: RGBA(40, 40, 40, 1.00);
  padding: 0 1rem;
}

/*====================================
      HOME PAGE
====================================*/

.title{
  background: RGBA(255, 192, 203, 1.00);
  border: 1rem double RGBA(255, 255, 255, 1.00);
  height: 8rem;
  width: 100%;
  font-size: 6rem;
  color: RGBA(40, 40, 40, 1.00);
  text-align: center;
}

.title a{
  color: RGBA(40, 40, 40, 1.00);
  font-family: 'Alfa Slab One';
}

.index-screen-image{
  background-image: url("../images/youngmed.jpeg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  transition: 1s;
}

.index-screen-image:hover{
  background-image: url("../images/oldmd.jpeg");
  background-position: center;
  transition: 1s;
  }


.row{
  color: RGBA(255, 192, 203, 1.00);
  font-size: 4rem;
  display: flex;
}

.col-3{
  width: 33.33%;
  text-align: center;
  padding: 0 1rem;
}

.body-text{
  text-align: left;
  font-size: 2rem;
  font-family: 'Neuton', serif;
}

@media (max-width: 700px) {
  .row{
    display: block;
  }
  .col-3{
    width: 100%;
  }
}

/* =============================
          GALLERY
============================= */

.col-2{
  width: 50%;
  text-align: center;
  padding: 1rem;
  margin-top: 6rem;
}

.col-2 img{
  width: 100%;
}

/* ================================
            CONTACT
================================ */

.contact-form-container{
  width: 100vw;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  margin-top: 6rem;
}

.gene-contact-form{
  padding:1rem;
  height: 66.66%;
  width: 100%
}

.gene-contact-header{
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 2rem;
}

.gene-contact-form input[type="text"], .gene-contact-form input[type="email"], .gene-contact-form input[type="number"]{
  width: 100%;
  padding: 1rem;
  display: inline-block;
  font-size: 1.6rem;
  border: .3rem solid RGBA(255, 255, 255, 1.00);
}

.contact-gene-age{
  padding: 2rem;
  font-size: 2rem;
  color: RGBA(255, 255, 255, 1.00);
  text-align: center;
  font-size: 2rem;
}

.contact-gene-age label{
  margin: 1rem 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: RGBA(255, 255, 255, 1.00);
}

.contact-gene-comment{
  justify-content: center;
  text-align: center;
  margin: 1rem 2rem;
  font-size: 2rem;
  color: RGBA(255, 255, 255, 1.00);
  /* background: RGBA(111, 125, 149, 0.8); */
}

.contact-gene-comment textarea{
  width: calc(100% - 3rem);
  height: 10.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  margin: 1rem 1rem;
  border: .3rem solid RGBA(255, 255, 255, 1.00);
}

.contact-gene-submit{
  text-align: right;
}

.button{
  font-size: 2rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 1rem;
  border: .3rem solid RGBA(255, 192, 203, 1.00);
  color: RGBA(255, 255, 255, 1.00);
  background: RGBA(40, 40, 40, 1.00);
}

.contact-row{
  display: flex;
  /* background: RGBA(111, 125, 149, 0.8); */
}

.contact-col-2{
  width: 50%;
  padding: 1rem;
  font-size: 2rem;
  color: RGBA(255, 255, 255, 1.00);
}

.contact-col-4{
  width: 25%;
  padding: 1rem;
  /* background: RGBA(111, 125, 149, 0.8); */
}

/* ==============================
ABOUT
============================== */

.about-screen-image{
  background-image: url("../images/kidmed1.jpeg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 60px);
  transition: 1s;
}

.about-screen-image:hover{
  background-image: url("../images/youngmed1.jpeg");
  background-position: center;
  transition: 1s;
  }


.about-content{
  font-size: 2.4rem;
  font-family: 'Neuton', serif;
  text-align: center;
  margin-top: 6rem;
}

/* =============================
            FOOTER
============================= */
.main-footer{
    background: RGBA(40, 40, 40, 1.00);
    height: 6rem;
    border-top: 1rem double RGBA(255, 255, 255, 1.00);
    width: 100%;
    bottom: 0;
    order: 3;
    left: 0;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Neuton', bold;
    color: RGBA(255, 255, 255, 1.00);

}

.main-footer a{
  display: inline-block;
  text-align:center;
}
